# Зависимости
/node_modules

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Файлы окружения
.env
.env.local
.env.*.local

# Артефакты сборки (если используются)
dist/
build/
out/

# Файлы редактора/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Временные файлы ОС
.DS_Store
Thumbs.db

# Дополнительно (опционально)
/coverage
*.log